.current-weather-grid{
    display: grid;
    justify-content: center;
}
.current-weather-header {
    padding: 6px 0px 6px 0px;
}
.temp-reading {
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
}
